<!DOCTYPE html>
<html>
<head  th:fragment="head(title)">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="Práctica Spring Boot" />
<meta name="author" content="Alejandro,Javi,Alberto" />
<title th:text="'Administrador '+ ${titulo}"></title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" th:href="@{/imgs/favicon.ico}" />
<!-- Ruta css-->
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<header th:fragment="cabecera"
			class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
			<a href="/"
				class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
				<svg class="bi me-2" width="40" height="32" role="img"
					aria-label="Bootstrap">
					<use xlink:href="#bootstrap"></use></svg>
			</a>

			<ul
				class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
				<li><a href="/" class="nav-link px-2 link-secondary">Inicio</a></li>
				<li><a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin/listProfesores" class="nav-link px-2 link-dark">Profesores</a></li>
				<li><a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin/listarEstudiantes" class="nav-link px-2 link-dark">Alumnos</a></li>
				<li><a sec:authorize="hasRole('ROLE_ADMIN')" href="/cursos/listCursos" class="nav-link px-2 link-dark">Cursos</a></li>
				<li><a sec:authorize="hasRole('ROLE_ADMIN')" href="/news/listNews" class="nav-link px-2 link-dark">Noticias</a></li>
				<li><a sec:authorize="hasRole('ROLE_ALUMNO')" th:href="@{/alumno/formPersonalAlumno}" class="nav-link px-2 link-dark">Editar perfil de alumno</a></li>
				<li><a sec:authorize="hasRole('ROLE_ALUMNO')" th:href="@{/alumno/cursos}" class="nav-link px-2 link-dark">Ver cursos</a></li>
				<li><a sec:authorize="hasRole('ROLE_PROFESOR')" th:href="@{/profesor/formPersonalProfesor}" class="nav-link px-2 link-dark">Editar perfil de profesor</a></li>
				<li><a sec:authorize="hasRole('ROLE_PROFESOR')" th:href="@{/profesor/cursos}" class="nav-link px-2 link-dark">Ver cursos</a></li>
			</ul>

			<div class="col-md-3 text-end">
				<a sec:authorize="!isAuthenticated()" th:href="@{/auth/login}"><button type="button" class="btn btn-outline-primary me-2">Iniciar sesión</button></a>
				<a sec:authorize="!isAuthenticated()" th:href="@{/registro}"><button type="button" class="btn btn-primary">Registrar</button></a>
			</div>
			<div class="col-md-3 text-start">
				<p th:replace="layouts/connect :: sesion"></p>
				<form class="form-inline" th:action="@{/auth/login}" method="post">
					<button sec:authorize="isAuthenticated()" class="btn btn-success" type="submit">Cerrar sesión</button>
				</form>
			</div>
		</header>
	</div>
</body>
</html>