<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Insert title here</title>
</head>
<body th:fragment="menu">
	<nav class="navbar navbar-expand-md bg-light navbar-light">
		<a class="navbar-brand" th:href="@{/}">Administración</a>
		<!-- Links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<a class="nav-link" th:href="@{/users/listProfesores}"><li class="nav-item">Control Profesores</li></a>
				<a class="nav-link" th:href="@{/users/listarEstudiantes}"><li class="nav-item">Control Estudiantes</li></a>
				<a class="nav-link" th:href="@{/cursos/listCursos}"><li class="nav-item">Control Cursos</li></a>
			</ul>
		</div>
	</nav>
</body>
</html>