<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="container" th:fragment="sesion">
		<form class="form=signin" th:action="@{/auth/login}" th:object="${user}" method="POST">
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			<h2 class="form-signin-heading">Sign in</h2>
			<label for="inputEmail" class="sr-only">Username</label>
			<input type="email" class="form-control" placeholder="Email" name="email" id="emamil"/>
			</br>
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" class="form-control" placeholder="Password" name="password" id="password"/>
			</br>
			<div th th:if="${error!=null}" class="alert alert-danger" role="alert">Invalid username</div>
			<div th:if="${logout!=null}" class="alert alert-info" role="alert">Logout successful</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		</form>	
	<br/>
	<div class="alert alert-success" th:if="${success!=null}" th:text="${success}"></div>
	</div>
</body>
</html>