<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layouts/header :: head(~{::title})">
		<meta charset="UTF-8">
<title>Formulario de Curso</title>
</head>
<body>
	<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" th:action="@{/cursos/addCurso}" th:object="${curso}" method="post">
                    <fieldset>
                        <legend th:text="${curso.id!=0} ? 'Editar Curso' : 'Nuevo Curso'" class="text-center header"></legend>
						<input type="hidden" th:field="*{id}" id="id"/>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                            	<label for="fname">Nombre</label>
                                <input id="fname" th:field="*{nombre}" name="name"  pattern=".{2,40}" required type="text" placeholder="Nombre" class="form-control">
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                            	<label for="descripcion">Descripcion</label>
                                <input id="descripcion" th:field="*{descripcion}" name="name" pattern=".{2,100}" required type="text" placeholder="Descripcion" class="form-control">
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></small>
                            </div>
                        </div>
						<br/>
						<div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                            	<label for="nivel">Nivel</label>
                                <input id="nivel" th:field="*{nivel}" name="name" type="number" placeholder="nivel" class="form-control">
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('nivel')}" th:errors="*{nivel}"></small>
                            </div>
                        </div>
						<br/>
						<div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                            	<label for="fechaInicio">Fecha de inicio</label>
                                <input id="fechaInicio" type="date" th:field="*{curso.fechaInicio}" name="fechaInicio" class="form-control">
                                <!-- <small class="form-text text-danger" th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}"></small> -->
                            </div>
                        </div>
						<br/>
						<div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                            	<label for="fechaFin">Fecha de fin</label>
                                <input id="fechaFin" type="date" th:field="*{curso.fechaFin}" name="fechaFin" class="form-control">
                                <!--<small class="form-text text-danger" th:if="${#fields.hasErrors('fechaFin')}" th:errors="*{fechaFin}"></small> -->
                            </div>
                        </div>
						<br/>
						<div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                            	<label for="profesor">Elige profesor</label>
                                <input id="nivel" th:field="*{nivel}" name="name" type="number" placeholder="nivel" class="form-control">
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('nivel')}" th:errors="*{nivel}"></small>
                            </div>
                        </div>
                        
						<br/>
						<div class="alert alert-success" th:if="${success!=null}" th:text="${success}"></div>
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Aceptar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>