<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layouts/header :: head(~{::title})">
		<meta charset="ISO-8859-1">
<title>Formulario de Curso</title>
</head>
<body>
	<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" th:action="@{/cursos/addCurso}" th:object="${curso}" method="post">
                    <fieldset>
                        <legend th:text="${curso.id!=0} ? 'Editar Curso' : 'Nuevo Curso'" class="text-center header"></legend>
						<input type="hidden" th:field="*{id}" id="id"/>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="fname" th:field="*{nombre}" name="name" type="text" placeholder="Nombre" class="form-control">
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="lname" th:field="*{descripcion}" name="name" type="text" placeholder="Descripcion" class="form-control">
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></small>
                            </div>
                        </div>
						<br/>
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Aceptar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>