<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layouts/header :: head(~{::title})">
		<meta charset="ISO-8859-1">
		<title>Profesores</title>
	</head>
	<body>
		<table class="table table-striped table-bordered"> 
			<thead class="thead-light"> 
				<tr>
					<th>Nombre</th> 
					<th>Apellidos</th> 
					<th>Email</th> 
				</tr> 
			</thead>
			<tbody th:each="profesor: ${profesores}"> 
				<tr>
					<th th:text=${profesor.nombre}></th> 
					<th th:text=${profesor.apellidos}></th> 
					<th th:text=${profesor.email}></th> 
					<th> 
						<a>
						<button type="button" class="btn btn-primary btm-sm">Edit</button> 
						</a> 
						<a th:href="@{/users/deleteProfesor/}+${profesor.id}"> 
						<button type="button" class="btn btn-danger btm-sm">Delete</button>
						</a>
					</th> 
				</tr> 
			</tbody> 
		</table>
		<a >
						<button type="button" class="btn btn-success btm-sm">Create</button> 
						</a> 
	</body>
	 <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
      <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</html>